.active {
  color: black;
  /*background: rgb(246, 126, 149);*/
  /*border : solid 1px grey;*/
  /*padding: 4px;*/
  /*border-radius: 20px ;*/

  
}
.header {
  background-color: darkorange;
  color: white;
  padding-top: 3px;
  padding-bottom: 1px;

  font-weight: bolder;
  background-color: rgb(162, 253, 249);
}

ul {
  list-style: none;

  /* padding: 15px 5px 15px 5px; */
}

a {
  color: white;
  text-decoration: none;
}

/* li {
  margin-top: 15px;

  margin-top: 18px;
  margin-bottom: 5px;
} */

.nav-pane {
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 212, 146) 100%
  ); */
  background: rgb(217, 54, 84);
}
