.icon {
  font-size: 37px;
  color: #ccc;
  cursor: pointer;
  transition: 0.5s;
}

a:hover > .icon {
  font-size: 37px;
  transition: 0.5s;
  color: rgb(56, 56, 56);
}

.custom-margin {
  height: 78vh;
  /* margin-top: 100px; */
}

.menu {
  background-color: #eee;
  padding: 60px;
  border-radius: 80px;
}

a {
  text-decoration: none;
  color: #aaa;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: rgb(29, 27, 27);
  transition: 0.5s;
}
.active {
  color: rgb(29, 27, 27);
}
