.contain{
  margin-top: 70px !important;
  /*height: 250px;*/
  /*width: 900px;*/
  /*background-color: #f2f2f2;*/
  border-radius: 10px;

}



span{
  font-size: 15px;
}


/* for validation visual feedback */
input.ng-invalid.ng-touched{
  border: solid 1px red;
}
