td {
  width: 20% ;
}

.box1 {
  display: block;
  padding: 10px;
  margin-bottom: 10px; 
  text-align: justify;
}

.box2 {
    display: block;
    padding: 10px;
    text-align: justify;
    margin-top: 10px;
}

select.select-width{
  float: left;
  width: 100%;
}

select {
  width: 150px;
}

div div select {
outline: 0;
/* border: none; */
border-width: 0 0 2px;
margin-right: 10px;
width: 250px;
/* border-color: blue */
}

div div select:invalid { 
color: gray; 
height: 30px;
}

.place-holder {
  width:50%;
  margin-top: 14vh;
  border-radius: 30px;
  padding-top: 15vh;
  padding-bottom: 15vh;
  margin-left: 2vw;
  margin-right: 2vw;
  /* background-color: #eee; */
  color: #aaa;
  /* -webkit-box-shadow: 1px 1px 38px 12px rgba(219, 219, 219, 1);
  -moz-box-shadow: 1px 1px 38px 12px rgba(219, 219, 219, 1); */
  box-shadow: 1px 1px 7px 1px rgba(219, 219, 219, 1);
}

.btn{
  padding: .375rem .5rem;
}

button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.table td {
    padding: .75rem 0.55rem;
    font-size: 0.9rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th{
  font-size: 0.9rem;
}

.selfAssignmentStatus{
  display: flex;
  justify-content: center;
  width: unset;
  flex-direction: column;
}

.selfAssignmentStatus tr input::-webkit-inner-spin-button,
.selfAssignmentStatus tr input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
